<h1 style="text-align: center;">Welcome to My Portfolio</h1>
<p style="text-align: center;">I am a software engineer with 1 year of experience in C# and Angular.</p>
<div class="card-container" style="display: flex;">
    <div class="card-container" style="display: inline-block; margin-left: auto;">
        <div class="card mb-3" style="max-width: 30rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 30rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 30rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    

    <div class="card mb-3" style="max-width: 40rem; margin-left: auto; align-self: center; margin-right: 5%;">
        <h3 class="card-header">Card header</h3>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/images/wilson.png" class="user-select-none" width="75%" height="380"
                aria-label="Placeholder: Image cap" focusable="false" role="img" alt="Image cap"
                style="border-radius: 18%;">
        </div>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>